.App {
  text-align: center;
  height: 100%;
}

.App__logo {
  animation: App-logo-spin infinite 2s ease-in-out;
  height: 3em;
}

.App__header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  color: white;
}

.App__left {
  display: flex;
  align-items: center;
}

.App__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.App__menu {
  background-color: grey;
  height: 100%;
  width: 15rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0rem;
  transition: 0.15s ease-in left;
}
/* after stretch: left:0rem */
.App__menu--closed {
  height: 100%;
  width: 15rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -15rem;
}

.App__container {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0rem;
  transition: 0.15s ease-in left;
  margin:10px;
}
/* after stretch: left:15rem */
.App__container--open {
  left: 15rem;
}

@media screen and (max-width: 600px) {
  .App__container {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 4rem;
    z-index: -1;
  }
  /* after stretch: left:15rem */
  .App__container--open {
    left: 4rem;
    z-index: -1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
