html,body{
  margin:0;
  height:100%;
}

body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #24c6dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #24c6dc,
    #514a9d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #24c6dc,
    #514a9d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#root{
  height:100%;
}

button {
  background-color:transparent;

  border: none;
  padding: .5rem;
}
button::-moz-focus-inner {
  border: 0;
}




